.admin-container {
  // width: 400px;
  // height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #555;
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.admin-layout-sidebar{
  width: 200px;
}
